<?xml version="1.0" encoding="UTF-8"?>
<server>
	<fregments>
		<fregment>
			<fregment-name>list</fregment-name>
			<fregment-class>yo.benqczyo.bookstore.web.controller.fregment.book.Impl.ListBookControllerFregment</fregment-class>
		</fregment>
		<fregment>
			<fregment-name>buy</fregment-name>
			<fregment-class>yo.benqczyo.bookstore.web.controller.fregment.book.Impl.BuyBookControllerFregment</fregment-class>
		</fregment>
		<fregment>
			<fregment-name>cart</fregment-name>
			<fregment-class>yo.benqczyo.bookstore.web.controller.fregment.book.Impl.CartBookControllerFregment</fregment-class>
		</fregment>
	</fregments>
</server>
